APP_DOMAIN=hydrotinker.sl-project.online

NUXT_PUBLIC_VERSION=1.0.0
NUXT_PUBLIC_COORDS_N=40.1872
NUXT_PUBLIC_COORDS_E=44.5152
NUXT_PUBLIC_BUILD_YEAR=2026
NUXT_PUBLIC_BUILD_MONTH=04
NUXT_PUBLIC_BUILD_DAY=20

NUXT_GMAIL_APP_PASSWORD=
